<h2>Education</h2>
<div class="container" id="education">
  <div class="row">
    {% for item in site.data.education %}
    <div class="col">
      <div class="card transform">
        <div class="icon">
          <img src="./assets/img/education/{{ item.logo }}" alt="{{ item.institute }} logo"/>
        </div>
        <div class="info">
          <p class="title text-center">{{ item.course }}</p>
          <p class="location text-center">{{ item.institute }}</p>
          {% if item.location %}<p class="location text-center" style="font-size:0.85em; opacity:0.7;">{{ item.location }}</p>{% endif %}
          <p class="dates text-center">{{ item.dates }}</p>
          {% if item.note %}<p class="dates text-center" style="font-style:italic;">{{ item.note }}</p>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
